dataweave_transformation/target/classes/complex_xml_transform.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="complex_xml_transformFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/path5" allowedMethods="POST" doc:name="HTTP"/>
        <dw:transform-message metadata:id="c76c5bd3-fd94-4c34-83c0-8508e2509d3e" doc:name="Transform Message">
            <dw:input-payload doc:sample="message1.json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
item: {(payload map {
	data: $$,
	type: $.type,
	author:$.author
	
	}
	
	)
	
	}
]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
