dataweave_transformation/src/main/app/basicflow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="basicflowFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/path3" allowedMethods="POST" doc:name="HTTP"/>
        <dw:transform-message metadata:id="0ebccf8f-c00c-44a0-be6a-8db0e3210278" doc:name="Transform Message">
            <dw:input-payload doc:sample="message2.json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
data: {
	hub:"MUA",
	codevalue:payload.code,
	destination_value:payload.destination
}]]></dw:set-payload>
            <dw:set-variable variableName="xml"><![CDATA[%dw 1.0
%output application/xml
---
data: {
	hub:"MUA",
	flight @(origin:payload.origin):{
	codevalue:payload.code
	}
	
}]]></dw:set-variable>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
